/* Custom styles */
body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Main content layout */
.main-content {
    flex: 1;
    background-color: #f5f5f5;
    padding: 50px 0;
}

/* Header Section */
.navbar {
    background-color: #002855;
}

.navbar-brand img {
    height: 100px;
}

.navbar-nav .nav-link {
    color: #fff;
}

.navbar-nav .nav-link.active {
    background-color: #e76e3c;
    border-radius: 10px;
}

.navbar ul li a {
    padding: 10px;
}

/* Breadcrumb Styling */
.breadcrumb {
    background-color: #f5f5f5 !important;
    padding: 10px 15px !important;
    margin-bottom: 0px !important;
    font-size: 1rem;
}

.breadcrumb-item a {
    color: #59331D;
    text-decoration: none;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active {
    color: #D98555 !important;
}

/* Main Section */
.container h1 {
    text-align: center;
    font-size: 4rem;
    color: #59331D;
    margin-bottom: 50px;
    font-family: "Lobster", sans-serif;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

/* Card adjustments */
.card {
    background-color: #deb887;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.card:hover {
    transform: scale(1.05);
}

figcaption {
    font-style: italic;
    font-weight: bold;
    margin-bottom: 10px;
}

/* Footer Section */
footer {
    background-color: #002855;
    color: white;
    padding: 40px 0;
    text-align: center;
    width: 100%;
    font-size: 1rem;
}

footer p {
    margin-bottom: 10px;
}

footer small {
    font-size: 0.9rem;
}

/* Responsive font size */
@media (max-width: 768px) {
    .breadcrumb {
        font-size: 0.9rem !important;
        margin: 0px !important;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }

    .main-content {
        padding: 25px 0;
    }

    .container h1 {
        font-size: 3.5rem;
        padding-left: 12px;
        padding-top: 5px;
    }
}

@media (max-width: 425px) {
    .breadcrumb {
        font-size: 0.8rem !important;
        margin: 0px !important;
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }

    .main-content {
        padding: 20px 0;
    }

    .container h1 {
        font-size: 2.8rem;
        padding-left: 8px;
        padding-top: 5px;
    }
}